<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AnalyticsServlet</servlet-name>
        <servlet-class>controller.AnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentServlet</servlet-name>
        <servlet-class>controller.IncidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralReportsServlet</servlet-name>
        <servlet-class>controller.GeneralReportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OffenderReportServlet</servlet-name>
        <servlet-class>controller.OffenderReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentLocationReportServlet</servlet-name>
        <servlet-class>controller.IncidentLocationReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentTypeReportServlet</servlet-name>
        <servlet-class>controller.IncidentTypeReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentListServlet</servlet-name>
        <servlet-class>controller.IncidentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentDetailServlet</servlet-name>
        <servlet-class>controller.IncidentDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnalyticsServlet</servlet-name>
        <url-pattern>/Analytics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentServlet</servlet-name>
        <url-pattern>/IncidentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralReportsServlet</servlet-name>
        <url-pattern>/GeneralReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OffenderReportServlet</servlet-name>
        <url-pattern>/OffenderReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentLocationReportServlet</servlet-name>
        <url-pattern>/IncidentLocationReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentTypeReportServlet</servlet-name>
        <url-pattern>/IncidentTypeReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentListServlet</servlet-name>
        <url-pattern>/IncidentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentDetailServlet</servlet-name>
        <url-pattern>/IncidentDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
