<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AnalyticsServlet</servlet-name>
        <servlet-class>controller.AnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentServlet</servlet-name>
        <servlet-class>controller.IncidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyIncidentsServlet</servlet-name>
        <servlet-class>controller.MyIncidentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralReportsServlet</servlet-name>
        <servlet-class>controller.GeneralReportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OffenderReportServlet</servlet-name>
        <servlet-class>controller.OffenderReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentLocationReportServlet</servlet-name>
        <servlet-class>controller.IncidentLocationReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentTypeReportServlet</servlet-name>
        <servlet-class>controller.IncidentTypeReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentListServlet</servlet-name>
        <servlet-class>controller.IncidentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAccountServlet</servlet-name>
        <servlet-class>controller.editAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentDetailServlet</servlet-name>
        <servlet-class>controller.IncidentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentReportServlet</servlet-name>
        <servlet-class>controller.IncidentReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VenueListServlet</servlet-name>
        <servlet-class>controller.VenueListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VenueDetailServlet</servlet-name>
        <servlet-class>controller.VenueDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listOffenderServlet</servlet-name>
        <servlet-class>controller.listOffenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listVenueServlet</servlet-name>
        <servlet-class>controller.listVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editVenueServlet</servlet-name>
        <servlet-class>controller.editVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateVenueServlet</servlet-name>
        <servlet-class>controller.updateVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteVenueServlet</servlet-name>
        <servlet-class>controller.deleteVenueServlet</servlet-class>
    </servlet>
    <servlet>	
        <servlet-name>createVenueServlet</servlet-name>	
        <servlet-class>controller.createVenueServlet</servlet-class>
    </servlet>
    <servlet>	
        <servlet-name>addVenueServlet</servlet-name>	
        <servlet-class>controller.addVenueServlet</servlet-class>
    </servlet>
    <servlet>	
        <servlet-name>VenueReportServlet</servlet-name>	
        <servlet-class>controller.VenueReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnonIncidentServlet</servlet-name>
        <servlet-class>controller.AnonIncidentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnalyticsServlet</servlet-name>
        <url-pattern>/Analytics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentServlet</servlet-name>
        <url-pattern>/IncidentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyIncidentsServlet</servlet-name>
        <url-pattern>/MyIncidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralReportsServlet</servlet-name>
        <url-pattern>/GeneralReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OffenderReportServlet</servlet-name>
        <url-pattern>/OffenderReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentLocationReportServlet</servlet-name>
        <url-pattern>/IncidentLocationReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentTypeReportServlet</servlet-name>
        <url-pattern>/IncidentTypeReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentListServlet</servlet-name>
        <url-pattern>/IncidentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAccountServlet</servlet-name>
        <url-pattern>/editAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentDetailServlet</servlet-name>
        <url-pattern>/IncidentDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentReportServlet</servlet-name>
        <url-pattern>/IncidentReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VenueListServlet</servlet-name>
        <url-pattern>/VenueListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VenueDetailServlet</servlet-name>
        <url-pattern>/VenueDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>	
        <servlet-name>ConnServlet</servlet-name>	
        <url-pattern>/ConnServlet</url-pattern>	
    </servlet-mapping>	
    <servlet-mapping>	
        <servlet-name>IncidentListServlet</servlet-name>	
        <url-pattern>/IncidentListServlet</url-pattern>	
    </servlet-mapping>	
    <servlet-mapping>	
        <servlet-name>IncidentDetailServlet</servlet-name>	
        <url-pattern>/IncidentDetailServlet</url-pattern>	
    </servlet-mapping>	
    <servlet-mapping>	
        <servlet-name>listOffenderServlet</servlet-name>	
        <url-pattern>/listOffenderServlet</url-pattern>	
    </servlet-mapping>	
    <servlet-mapping>	
        <servlet-name>listVenueServlet</servlet-name>	
        <url-pattern>/listVenueServlet</url-pattern>	
    </servlet-mapping>	
    <servlet-mapping>	
        <servlet-name>editVenueServlet</servlet-name>	
        <url-pattern>/editVenueServlet</url-pattern>	
    </servlet-mapping>	
    <servlet-mapping>	
        <servlet-name>updateVenueServlet</servlet-name>	
        <url-pattern>/updateVenueServlet</url-pattern>	
    </servlet-mapping>	
    <servlet-mapping>	
        <servlet-name>deleteVenueServlet</servlet-name>	
        <url-pattern>/deleteVenueServlet</url-pattern>	
    </servlet-mapping>
    <servlet-mapping>	
        <servlet-name>createVenueServlet</servlet-name>	
        <url-pattern>/createVenueServlet</url-pattern>	
    </servlet-mapping>
    <servlet-mapping>	
        <servlet-name>addVenueServlet</servlet-name>	
        <url-pattern>/addVenueServlet</url-pattern>	
    </servlet-mapping>
    <servlet-mapping>	
        <servlet-name>VenueReportServlet</servlet-name>	
        <url-pattern>/VenueReportServlet</url-pattern>	
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnonIncidentServlet</servlet-name>
        <url-pattern>/AnonIncidentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
